.filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.checkbox {
  background-color: currentColor;
  border: 2px solid currentColor;
  border-radius: 27px;
  display: inline-block;
  margin: 12px 9px 0 0;
  position: relative;
  user-select: none;
}

.input {
  display: block;
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}

.icon {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2716%27%20height%3D%2716%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%23fff%27%20stroke-width%3D%273%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20d%3D%27M2%209l4%204l8-9%27%20fill%3D%27none%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0%;
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  transition: .2s steps(10);
  width: 30px;
}

.label {
  border-radius: inherit;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 19px;
  line-height: 30px;
  padding: 10px 32px;
  position: relative;
  transition: .2s steps(12);

  .day & {
    background-color: #fff;
  }

  .night & {
    background-color: #262F3D;
  }
}

.input:checked {
  & ~ .icon {
    background-size: 65%;
  }

  & ~ .label {
    background-color: transparent;
    color: #fff;
    padding-left: 44px;
    padding-right: 20px;
  }
}
